@model TeknikServis.Entities.Servis.Musteri
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@if (TempData["Ok"] != null)
{
    <div class="alert alert-success">@TempData["Ok"]</div>
}

@using (Html.BeginForm("Update", "Musteri", FormMethod.Post))
{
    <div class="form-horizontal mt-4 mb-4">
        <h4>Müşteri Düzenle</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MusteriId)

        <!-- Adı Girişi -->
        <div class="form-group row">
            @Html.LabelFor(model => model.Ad, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Ad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ad, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Telefon Girişi -->
        <div class="form-group row">
            @Html.LabelFor(model => model.Telefon, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Telefon, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Telefon, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Adres Girişi -->
        <div class="form-group row">
            @Html.LabelFor(model => model.Adres, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Adres, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Adres, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Eposta Girişi -->
        <div class="form-group row">
            @Html.LabelFor(model => model.Eposta, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Eposta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Eposta, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Butonlar -->
        <div class="form-group d-flex justify-content-between mt-4">
            <div>
                <input type="submit" value="Kaydet" class="btn btn-success" />
            </div>
            <div>
              @*   <a href="@Url.Action("Index", "Musteri")" class="btn btn-secondary">Listeye Geri Dön</a> *@
                <a class="btn btn-secondary" onclick="history.back()">Listeye Geri Dön</a>
            </div>
        </div>
    </div>
}


                
